.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
@font-face {
    font-family: League Spartan;
    src: url(./src/LeagueSpartan-VariableFont_wght.ttf);
}
[data-theme="1"] {
    --background: #3A4664;
    --screen: #181F32;
    --keyboard: #252D44;
    --white: white;
    --navy-700: #63729B;
    --navy-600: #435176;
    --round: #D63C34;
    --shadow-round: #3D2733;
    --btn-color: #EAE2DA;
    --btn-shadow: #B4A69B;
    --btn-hover: #ffffff;
    --btn-text-color: #474A53;
    --btn-equal-color: #D13F30;
    --btn-equal-shadow: #96271c;
    --btn-equal-text: #fff8ff;
    --btn-equal-hover: #f96c5b;
    --btn-reset-color: #63729B;
    --btn-reset-shadow: #435176;
    --btn-reset-hover: #a3b4e2;
    --btn-reset-text: #fff8ff;
}
[data-theme="2"] {
    --background: rgb(230, 230, 230);
    --screen: rgb(238, 238, 238);
    --keyboard: rgb(211, 205, 205);
    --white: rgb(47, 47, 39);
    --navy-700: rgb(58, 129, 135);
    --navy-600: rgb(26, 95, 102);
    --round: rgb(202, 83, 1);
    --shadow-round: rgb(202, 83, 1);
    --btn-color: #EAE2DA;
    --btn-hover: #ffffff;
    --btn-shadow: #B4A69B;
    --btn-text-color: #474A53;
    --btn-equal-color: #c85401;
    --btn-equal-shadow: #863700;
    --btn-equal-text: #fff8ff;
    --btn-equal-hover: #ff8b38;
    --btn-reset-color: #388187;
    --btn-reset-shadow: #1c6166;
    --btn-reset-hover: #62b5bd;
    --btn-reset-text: #fff8ff;
}
[data-theme="3"] {
    --background: rgb(23 ,6 ,42);
    --screen: rgb(30, 8, 54);
    --keyboard: rgb(30, 8, 54);
    --white: rgb(254, 232, 60);
    --btn-color: #331b4d;
    --btn-shadow: #812296;
    --btn-hover: #6b34ac;
    --btn-text-color: #ffe84c;
    --btn-equal-color: #00decf;
    --btn-equal-shadow: #6cf8ef;
    --btn-equal-hover: #94fff9;
    --btn-equal-text: #003037;
    --btn-reset-color: #56077c;
    --btn-reset-shadow: #bf15f4;
    --btn-reset-text: #fff8ff;
    --btn-reset-hover: #8631b0;
}
html {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    display: flex;
    position: relative;
    min-height: 100dvh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: League Spartan;
    background-color: var(--background);
    padding: 1vh;
    margin: 0;
    overflow-x: hidden;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 0;
    padding-left: 7px;
    margin: 0;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    height: auto;
    margin: 0;
    padding: 0;
}
.gap-27 {
    gap: 27px!important;
}
.input {
    position: relative;
    cursor: pointer;
    width: 71px;
    height: 26px;
    background-color: var(--keyboard);
    border-radius: 14px;
}
.t-1 {
    opacity: 1;
    left: 20%;
    transform: translateY(-50%) translateX(-50%);
    background-color: var(--btn-equal-color);
    border: 2px solid var(--keyboard);
}
.t-2 {
    opacity: 0;
    left: 40%;
    transform: translateY(-50%) translateX(-20%);
    background-color: var(--btn-equal-color);
    border: 2px solid var(--keyboard);
}
.t-3 {
    opacity: 0;
    left: 60%;
    transform: translateY(-50%) translateX(12%);
    background-color: var(--btn-equal-color);
    border: 2px solid var(--keyboard);
}
.round {
    position: absolute;
    cursor: pointer;
    top: 50%;
    width: 18px;
    height: 18px;
    border-radius: 100%;
}
.round:hover {
    background-color: var(--btn-equal-hover);
}
.title {
    display: block;
    color: var(--white);
    font-size: 32px;
    font-weight: bold;
    font-family: League Spartan;
}
.theme {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
    padding-top: 12px;
    margin: 0;
}
.number {
    display: flex;
    justify-content: end;
    padding-right: 16px;
    color: var(--white);
    gap: 18px;
    font-weight: bold;
    font-size: 12px;
}
.transition {
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 3;
    box-sizing: border-box;
}
.rectangle {
    position: absolute;
    width: 3%;
    height: 100%;
    left: 0%;
    background-color: red;
}
.w-full {
    width: 100%;
}
h2 {
    text-transform: uppercase;
    color: var(--white);
    font-size: 12px;
    font-weight: bold;
    font-family: League Spartan;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.screen {
    background-color: var(--screen);
    width: 100%;
    min-height: 88px;
    max-height: 124px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 20px;
    padding-right: 23px;
    padding-left: 23px;
    box-sizing: border-box;
}
.limite {
    height: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    color: var(--white);
}
.text-screen {
    font-weight: bold;
    z-index: 1;
    font-size: clamp(40px, 6vw, 54px);
}
.animation-text-toGoUp {
    animation: 1s toGoUp;
}
.animation-text-toGoDown {
    animation: 1s toGoDown;
}
@keyframes toGoUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-40px);
    }
}

@keyframes toGoDown {
    0% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0);
    }
}
.keyboard {
    min-width: 325px;
    padding: 23px;
    padding-bottom: 28px;
    background: var(--keyboard);
    border-radius: 10px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(5, 60px);
    place-items: center;
    column-gap: 13px;
    row-gap: 17px;
}
button {
    min-width: 60px;
    max-width: 100px;
    width: 100%;
    height: 60px;
    display: block;
    border-radius: clamp(4px, 1.5vw, 8px);
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: 30px;
    padding-top: 6px;
    font-family: League Spartan;
    background-color: var(--btn-color);
    box-shadow: 0 4px var(--btn-shadow);
    color: var(--btn-text-color);
}
button:hover {
    background-color: var(--btn-hover);
}
.btn-del {
    font-size: 20px!important;
    background: var(--btn-reset-color);
    color: var(--btn-reset-text);
    box-shadow: 0 4px var(--btn-reset-shadow);
}
.btn-del:hover, .btn-reset:hover {
    background-color: var(--btn-reset-hover);
}
.btn-reset {
    width: 100%;
    grid-column: 1 / 3;
    font-size: 20px!important;
    background-color: var(--btn-reset-color);
    box-shadow: 0 4px var(--btn-reset-shadow);
    color: var(--btn-reset-text);
}
.btn-egal {
    width: 100%;
    grid-column: 3 / 5;
    font-size: 20px!important;
    background-color: var(--btn-equal-color);
    box-shadow: 0 4px var(--btn-equal-shadow);
    color: var(--btn-equal-text);
}
.btn-reset, .btn-egal {
    max-width: 223px;
}
.btn-egal:hover {
    background-color: var(--btn-equal-hover);
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 327px;
    height: auto;
    margin: 0;
    margin-top: 16px;
    gap: 18px;
    box-sizing: border-box;
}

@media screen and (min-width: 768px) {
    .calculator {
        margin: 0;
    }
    body {
        justify-content: center;
    }
    button {
        font-size: 2.5em;
    }
    .btn-egal, .btn-del, .btn-reset {
        font-size: 1.75em!important;
    }
    header {
        width: 100%;
    }
    .keyboard, .calculator {
        width: 38vw;
        max-width: 540px;
    }
    .screen {
        height: 124px;
    }
    .keyboard {
        column-gap: 1.5vw;
        row-gap: 3.8vh;
    }
    .text-screen {
        font-weight: bolder;
    }
}