.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
@font-face {
    font-family: League Spartan;
    src: url(./src/LeagueSpartan-VariableFont_wght.ttf);
}
[data-theme="1"] {
    --background: #3A4664;
    --screen: #181F32;
    --keyboard: #252D44;
    --text-white: white;
    --navy-700: #63729B;
    --navy-600: #435176;
    --round: #D63C34;
    --shadow-round: #3D2733;
}
[data-theme="2"] {
    --background: rgb(230, 230, 230);
    --screen: rgb(238, 238, 238);
    --keyboard: rgb(211, 205, 205);
    --text-white: rgb(47, 47, 39);
    --navy-700: rgb(58, 129, 135);
    --navy-600: rgb(26, 95, 102);
    --round: rgb(202, 83, 1);
    --shadow-round: rgb(202, 83, 1);
}
[data-theme="3"] {
    --background: rgb(23 ,6 ,42);
}
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}
body {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: League Spartan;
    background-color: var(--background);
    box-sizing: border-box;
}
header {
    display: flex;
    justify-content: space-between;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box;
}
main {
    display: grid;
    gap: 24px;
}
.gap-27 {
    gap: 27px!important;
}
.input {
    position: relative;
    cursor: pointer;
    width: 71px;
    height: 26px;
    box-sizing: border-box;
    background-color: var(--keyboard);
    border-radius: 14px;
}
.t-1 {
    opacity: 1;
    left: 20%;
    transform: translateY(-50%) translateX(-50%);
    background-color: #D63C34;
    border: 2px solid #3D2733;
}
.t-2 {
    opacity: 0;
    left: 40%;
    transform: translateY(-50%) translateX(-20%);
    background-color: var(--round);
    border: 2px solid var(--shadow-round);
}
.t-3 {
    opacity: 0;
    left: 60%;
    transform: translateY(-50%) translateX(12%);
    background-color: #D63C34;
    border: 2px solid #3D2733;
}
.round {
    position: absolute;
    cursor: pointer;
    top: 50%;
    width: 18px;
    height: 18px;
    border-radius: 100%;
}
.round:hover {
    background-color: rgb(250 108 88);
}
.title {
    display: block;
    color: var(--text-white);
    font-size: 32px;
    font-weight: bold;
}
.theme {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding-top: 4px;
    box-sizing: border-box;
}
.number {
    box-sizing: border-box;
    display: flex;
    justify-content: end;
    padding-right: 15px;
    color: var(--text-white);
    gap: 12px;
}
.w-full {
    width: 100%;
}
h2 {
    text-transform: uppercase;
    color: var(--text-white);
    font-size: 12px;
    font-weight: 900;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.screen {
    background-color: var(--screen);
    width: 100%;
    max-height: 124px;
    max-width: 540px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 20px;
    padding-right: 24px;
    padding-left: 24px;
    box-sizing: border-box;
}
.limite {
    height: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    box-sizing: border-box;
    color: var(--text-white);
}
.text-screen {
    font-weight: bold;
    z-index: 1;
    font-size: clamp(40px, 6vw, 54px);
}
.animation-text-toGoUp {
    animation: 1s toGoUp;
}
.animation-text-toGoDown {
    animation: 1s toGoDown;
}
@keyframes toGoUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-40px);
    }
}

@keyframes toGoDown {
    0% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0);
    }
}
.keyboard {
    max-height: 478px;
    padding: 3.5vh;
    background: var(--keyboard);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 60px 60px 60px 60px 60px;
    place-items: center;
    column-gap: 2.7vw;
    row-gap: 2.4vh;
    box-sizing: border-box;
}
button {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: clamp(4px, 1.5vw, 12px);
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 30px;
    background-color: #EAE2DA;
    box-shadow: 0 4px #B4A69B;
    color: #474A53;
}
button:hover {
    background-color: var(--text-white);
}
.btn-del {
    font-size: 20px;
    background: var(--navy-700);
    color: #F9FFFF;
    box-shadow: 0 4px var(--navy-600);
}
.btn-del:hover, .btn-reset:hover {
    background-color: rgb(163 180 226);
}
.btn-reset {
    width: 100%;
    grid-column: span 2;
    font-size: 20px;
    background-color: var(--navy-700);
    box-shadow: 0 4px var(--navy-600);
    color: #F9FFFF;
}
.btn-egal {
    width: 100%;
    grid-column: span 2;
    font-size: 20px;
    background-color: #D13F30;
    box-shadow: 0 4px #96271C;
    color: #F9FFFF;
}
.btn-egal:hover {
    background-color: rgb(249 108 91);
}

.calculator {
    width: 90%;
    max-width: 400px;
    max-height: 600px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media screen and (min-width: 768px) {
    .calculator {
        width: 100%;
        max-width: 540px;
    }
    .screen {
        height: 124px;
    }
    .keyboard {
        column-gap: 24px;
        row-gap: 27px;
    }
    .text-screen {
        font-weight: bolder;
    }
}