.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
@font-face {
    font-family: League Spartan;
    src: url(./src/LeagueSpartan-VariableFont_wght.ttf);
}
:root {
    --theme-1: #3A4664;
    --theme-2: #3A4664;
    --theme-3: #3A4664;
    --keyboard: #252D44;
}
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}
body {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: League Spartan;
    background-color: var(--theme-1);
    padding: 25px;
    gap: 33px;
}
header {
    width: 327px;
    display: flex;
    justify-content: space-between;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box;
}
main {
    display: grid;
    gap: 24px;
}
.gap-27 {
    gap: 27px!important;
}
.input {
    position: relative;
    cursor: pointer;
    width: 71px;
    height: 26px;
    box-sizing: border-box;
    background-color: #252D44;
    border-radius: 14px;
}
.input::after {
    content: "";
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 20%;
    transform: translateY(-50%) translateX(-50%);
    width: 18px;
    height: 18px;
    background-color: #D63C34;
    border: 2px solid #3D2733;
    border-radius: 100%;
}
.input:hover::after {
    background-color: rgb(250 108 88);
}
.title {
    display: block;
    color: white;
    font-size: 32px;
    font-weight: bold;
}
.theme {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding-top: 4px;
    box-sizing: border-box;
}
.number {
    box-sizing: border-box;
    display: flex;
    justify-content: end;
    padding-right: 15px;
    color: white;
    gap: 12px;
}
.w-full {
    width: 100%;
}
h2 {
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    font-weight: 900;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.screen {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 24px;
    padding-left: 24px;
    box-sizing: border-box;
    color: white;
    font-size: 40px;
    background-color: #181F32;
    width: 327px;
    height: 88px;
    border-radius: 10px;
}
.keyboard {
    padding: 23px;
    background: var(--keyboard);
    border-radius: 6px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    column-gap: 13px;
    row-gap: 17px;
}
button {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 30px;
    background-color: #EAE2DA;
    box-shadow: 0 4px #B4A69B;
}
button:hover {
    background-color: white;
}
.btn-del {
    font-size: 20px;
    background: #63729B;
    color: white;
    box-shadow: 0 4px #435176;
}
.btn-del:hover, .btn-reset:hover {
    background-color: rgb(163 180 226);
}
.btn-reset {
    width: 100%;
    grid-column: span 2;
    font-size: 20px;
    background-color: #63729B;
    box-shadow: 0 4px #435176;
    color: white;
}
.btn-egal {
    width: 100%;
    grid-column: span 2;
    font-size: 20px;
    background-color: #D13F30;
    box-shadow: 0 4px #96271C;
    color: white;
}
.btn-egal:hover {
    background-color: rgb(249 108 91);
}